:root {
    --dark: rgb(28, 28, 28);
    --light: #e5e5e5;
    --accent: hsl(51, 100%, 50%);
    --accent-hover: hsl(51, 100%, 70%);
    --accent-down: hsl(51, 100%, 45%);
}

*::before,
*::after,
* {
    box-sizing: content-box;
}

html,
body,
h1,
h2,
h3,
h4,
p {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1,h2,h3,h4 {
    font-family: 'Open Sans';
    font-weight: bold;
    line-height: 1.5em;
}

h1 {
    letter-spacing: 3px;
}

p, a {
    font-family: 'Lato';
    word-spacing: 5px;
    line-height: 1.5em;
    max-width: 500px;
    margin: auto;
}



nav {
    position: absolute;
    width: 100%;
    z-index: 1;
}

nav ul {
    padding-inline-start: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

nav li {
    list-style: none;
    margin: 10px;
}

nav a {
    text-decoration: none;
    padding: 10px;
}

nav a:link {
    color: var(--light);
}

nav a:visited {
    color: var(--light);
}

nav a:hover {
    color: lightgrey;
}

nav a:active {
    color: grey;
}

.button {
    color: black;
    background-color: var(--accent);
    border-radius: 10px;
    text-shadow: 1px 1px rgba(255,255,255,0.7);
}

nav ul a.button {
    color: black;
    background-color: var(--accent);
    border-radius: 10px;
    text-shadow: 1px 1px rgba(255,255,255,0.7);
}

.button:hover {
    background-color: var(--accent-hover);
}

.button:active {
    background-color: var(--accent-down);
}

.spacer {
    aspect-ratio: 960/200;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: -2px 0;
}

.layer1 {
    background-image: url('./public/layer1.svg');
}

.layer2 {
    background-image: url('./public/layer1.svg');
}

.flip {
    transform: rotate(180deg);
}
